<div class="default-lookup-container page-container container-fluid">
  <div class="row top-section">
    <div class="col-12 header-container">
      <div class="navigation-tabs">
        <div class="row bottom-section">
          <div class="col-12">
            <div class="list-table">
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Agency Id</th>
                    <th scope="col">Measure Name</th>
                    <th scope="col">Measure Unit</th>
                    <th scope="col">Material Name</th>
                    <th scope="col">Material Unit</th>
                    <th scope="col">Converting Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      Attic R30 Insulation
                    </td>
                    <td>
                      SF
                    </td>
                    <td>
                      Fiberglass
                    </td>
                    <td>
                      50 Poung Bag
                    </td>
                    <td>
                      0.0004
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>
                      Measure 2
                    </td>
                    <td>
                      SF
                    </td>
                    <td>
                      Fiberglass
                    </td>
                    <td>
                      50 Poung Bag
                    </td>
                    <td>
                      0.0004
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>
                      Measure 3
                    </td>
                    <td>
                      SF
                    </td>
                    <td>
                      Fiberglass
                    </td>
                    <td>
                      50 Poung Bag
                    </td>
                    <td>
                      0.0004
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>
                      Measure 4
                    </td>
                    <td>
                      SF
                    </td>
                    <td>
                      Fiberglass
                    </td>
                    <td>
                      50 Poung Bag
                    </td>
                    <td>
                      0.0004
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>