<div class="container-fluid">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Cost</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Work Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Install</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Inspection</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Invoicing</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Payment</a>
        </li>
  </ul>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Client Name</th>
          <th scope="col">Contract Name</th>
          <th scope="col">Date Type</th>
          <th scope="col">Date Range</th>
          <th scope="col">Measure Group</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Client AAA</th>
          <td>Contract 1</td>
          <td>
            <select name="work-order" id="">
              <option value="Work Order 1">Work Order 1</option>
              <option value="Work Order 2">Work Order 2</option>
              <option value="Work Order 3">Work Order 3</option>
              <option value="Work Order 4">Work Order 4</option>
            </select>
          </td>
          <td>
            1/11/2018 - 29/11/2019
          </td>
          <td>
            <select name="measure-group" id="">
              <option value="refrigerator">Refrigerator</option>
              <option value="fan">Fan</option>
              <option value="bulb">Bulb</option>
              <option value="geyser">Geyser</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Address</th>
        <th scope="col">Measure Name</th>
        <th scope="col">Measure Qty</th>
        <th scope="col">Measure Total Cost</th>
        <th scope="col">Measure Estimate Cost</th>
        <th scope="col">Audit Date</th>
        <th scope="col">Work Order Date</th>
        <th scope="col">Install Date</th>
        <th scope="col">Inspection Date</th>
        <th scope="col">Contract</th>
        <th scope="col">Invoice Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <input type="checkbox" checked="true">
        </th>
        <td>Address 1</td>
        <td>Measure 1</td>
        <td>100</td>
        <td>$210</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
          <th scope="row">
            <input type="checkbox">
          </th>
          <td>Address 2</td>
          <td>Measure 2</td>
          <td>120</td>
          <td>$220</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
            <th scope="row">
              <input type="checkbox">
            </th>
            <td>Address 3</td>
            <td>Measure 3</td>
            <td>130</td>
            <td>$230</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
              <th scope="row">
                <input type="checkbox">
              </th>
              <td>Address 4</td>
              <td>Measure 4</td>
              <td>400</td>
              <td>$240</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
    </tbody>
  </table>
</div>