.navigation-bar {
    background: linear-gradient(to bottom, #6c757d73, #ffffff);
    .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -25px;
    }
    .img-logo {
        width: 7rem;
    }
    .header-items {
        color: #000000;
    }
}